<%= content_tag :div,
    id: "recipe-form",
    data: {
        id: recipe.id,
        recipe: recipe.to_json(except: [:id, :created_at, :updated_at]),
        hop_schedules_attributes: recipe.hop_schedules.to_json(except: [:recipe_id, :created_at, :updated_at]),
    } do %>

    <label>Recipe Name</label>
    <input type="text" v-model="recipe.name" />
    <label>Brew Method</label>
    <input type="text" v-model="recipe.brew_method_id" />
    <label>Brew Style</label>
    <input type="text" v-model="recipe.style_id" />

    <h4>Hops</h4>
    <div v-for="(hop, index) in recipe.hop_schedules_attributes">
      <label>Hop Id</label>
      <input type="text" v-model="hop.hop_id" />
      <label>Amount</label>
      <input type="text" v-model="hop.amount" />
      <label>Add at</label>
      <input type="text" v-model="hop.at" />
      <button v-on:click="removeHop(index)">Remove</button>
    </div>

    <button v-on:click="addHop">Add Hop</button>
    <br  />

    <button v-on:click="saveRecipe">Save Recipe</button>

<% end %>
