<div class="card-block" style="padding:1.25em;">
  <h3>Add more hops</h3>
  <div class="form-group">
    <%= render "hop_schedules/new", hop_schedule: recipe.hop_schedules.build %>

  <h3>Hops</h3>
  <% recipe.hop_schedules.each do |hop_schedule| %>
    <%= render 'hop_schedules/form', hop_schedule: hop_schedule %>
  <% end %>

</div>
