@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

div.form-group div.entry.input-group {
  padding-bottom: 10px;
}

.form-inline label {
  padding-left: 10px;
  padding-right: 10px;
}
